<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Laptop Price Predictor</title>
</head>

<body>
    <div class="wrapper">
        <div class="title">Laptop Price Predictor</div>
        <form action="/" method="POST">
            <div class="form">
                <div class="inputfield">
                    <label for="ram">Ram (GB)</label>
                    <input class="input" type="text" name="ram" required>
                </div>
                <div class="inputfield">
                    <label for="weight">Weight (Kg)</label>
                    <input class="input" type="text" name="weight" required>
                </div>
                <div class="inputfield">
                    <label for="company">Company</label>
                    <div class="custom_select">
                        <select name="company" id="company">
                            <option value="" selected hidden>Select</option>
                            <option value="acer">Acer</option>
                            <option value="apple">Apple</option>
                            <option value="asus">Asus</option>
                            <option value="dell">Dell</option>
                            <option value="hp">HP</option>
                            <option value="lenovo">Lenovo</option>
                            <option value="msi">MSI</option>
                            <option value="toshiba">Toshiba</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label for="typename">Type Name</label>
                    <div class="custom_select">
                        <select name="typename" id="typename">
                            <option value="" selected hidden>Select</option>
                            <option value="2in1convertible">2 in 1 Convertible</option>
                            <option value="gaming">Gaming</option>
                            <option value="netbook">Net Book</option>
                            <option value="notebook">Note Book</option>
                            <option value="ultrabook">Ultra Book</option>
                            <option value="workstation">Workstation</option>
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label for="opsys">Operating System</label>
                    <div class="custom_select">
                        <select name="opsys" id="opsys">
                            <option value="" selected hidden>Select</option>
                            <option value="windows">Windows</option>
                            <option value="mac">Mac</option>
                            <option value="linux">Linux</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label for="cpuname">CPU</label>
                    <div class="custom_select">
                        <select name="cpuname" id="cpuname">
                            <option value="" selected hidden>Select</option>
                            <option value="intelcorei3">Intel Core i3</option>
                            <option value="intelcorei5">Intel Core i5</option>
                            <option value="intelcorei7">Intel Core i7</option>
                            <option value="amd">AMD</option>
                            <option value="other">Other</option>
                        </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label for="gpuname">GPU</label>
                    <div class="custom_select">
                        <select name="gpuname" id="gpuname">
                            <option value="" selected hidden>Select</option>
                            <option value="intel">Intel</option>
                            <option value="amd">AMD</option>
                            <option value="nvidia">Nvidia</option>
                        </select>
                    </div>
                </div>
                <div class="check">
                    <div>
                        <label for="touchscreen">Touch Screen</label>
                        <input type="checkbox" name="touchscreen">
                    </div>
                    <div>
                        <label for="ips">IPS</label>
                        <input type="checkbox" name="ips">
                    </div>
                </div>

                <div class="inputfield">
                    <input class="btn" type="submit" value="Precict Price">
                </div>
            </div>
        </form>
        <div class="result">
            {% if pred_value != 0 %}
            <p>
                Estimated Price : LKR {{pred_value}}
            </p>
            {% endif %}
        </div>
    </div>
</body>

</html>